ContinuousIntegration/
platform_venv/
**~
.idea/
.coverage
ci_dep.txt
dist/
pep8.txt
pylint.txt
test-reports/
coverage.xml
build/
build_venv/
CLE/
.project
.pydevproject
.settings/
__generated_experiment*
