ContinuousIntegration/
platform_venv/
**~
**.pyc
**_new
**.req_make
**.egg-info/
.idea/
.coverage
ci_dep.txt
dist/
pep8.txt
pylint.txt
test-reports/
coverage.xml
build/
build_venv/
CLE/
.project
.pydevproject
.settings/
__generated_experiment*
/.coverage.hbp_nrp_commons_hbp_nrp_commons
user_makefile
config.json.sample
hbp-flask-restful-swagger-master/flask_restful_swagger/static/config.json*
hbp_nrp_commons/hbp_nrp_commons/generated/bibi_api_gen.py
hbp_nrp_commons/hbp_nrp_commons/generated/model_conf_api_gen.py
hbp_nrp_commons/hbp_nrp_commons/generated/exp_conf_api_gen.py
hbp_nrp_commons/hbp_nrp_commons/generated/environment_conf_api_gen.py
hbp_nrp_commons/hbp_nrp_commons/generated/robot_conf_api_gen.py
hbp_nrp_commons/hbp_nrp_commons/generated/_sc.py
hbp_nrp_commons/hbp_nrp_commons/generated/environment_conf_api_gen.py
hbp_nrp_commons/hbp_nrp_commons/generated/robot_conf_api_gen.py
htmlcov/*
