<?xml version="1.0"?>

<model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/environment_model_config ../environment_model_configuration.xsd">
  <name>Y-maze environment for the mouse</name>
  <thumbnail>thumbnail.png</thumbnail>
  <sdf version="1.5">mouse_lab.sdf</sdf>

  <author>
    <name>Axel von Arnim</name>
    <email>axel.vonarnim@fortiss.org</email>
  </author>

  <description>
    Environment for performing mouse experiments in a Y-Maze, on a table, with a lab-looking background.
  </description>
</model>
