lxml==3.3.3
Jinja2==2.7.1
hbp-flask-restful-swagger==0.15.2.dev0
PyYAML==3.11
rospkg==1.0.38
catkin_pkg==0.2.10
hbp-nrp-cle==0.4.2.dev3
hbp-nrp-excontrol==0.4.1.dev1
pyxb==1.2.4
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-Migrate==1.6.0
psycopg2==2.6.1
bbp-client==0.3.11
