# HBP requirements
hbp-service-client==0.0.2.dev1  # EPFL_SPECIFIC
bbp-client==0.3.19  # EPFL_SPECIFIC

# other requirements
lxml==3.4.0
PyYAML==3.11
rospkg==1.0.38
catkin_pkg==0.2.10
pyxb==1.2.4
Flask-Script==2.0.5
Flask-Migrate==1.6.0
psycopg2==2.6.1
timeout-decorator==0.3.2
cryptography==1.9
urllib3[secure]==1.21.1
ptvsd==3.0.0
requests
