# HBP requirements
hbp-flask-restful-swagger==0.15.2
hbp-nrp-cle==1.1.3.dev6
hbp-nrp-cleserver==1.1.3.dev3
hbp-nrp-excontrol==1.1.3.dev1

# other requirements
lxml==3.4.0
Jinja2==2.7.1
PyYAML==3.11
rospkg==1.0.38
catkin_pkg==0.2.10
pyxb==1.2.4
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-Migrate==1.6.0
psycopg2==2.6.1
bbp-client==0.3.19
timeout-decorator==0.3.2
