<?xml version="1.0"?>

<model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns="http://schemas.humanbrainproject.eu/SP10/2017/model_config" 
 xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/model_config ../model_configuration.xsd">
  <name>FZI SpaceBotCup Environment</name>
  <thumbnail>thumbnail.png</thumbnail>
  <sdf version="1.5">fakeEnv.sdf</sdf>

  <author>
    <name>Lars Pfotzer</name>
    <email>pfotzer@fzi.de</email>
  </author>

  <description>
    Unstructured environment modelled for the SpaceBotCup robotics challenge.
  </description>
</model>